@font-face {
    font-family: 'munro';
    src: url('type/munro.ttf') format('truetype');
}
html {
  font-family: "munro";
}

h1 {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

h3 {
  margin-left: 20px;
  margin-top: 30px;
}

* {
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#hud {
  height: 820px;
  width: 250px;
  float: right;
  right: 50px;
  top: 50px;
  position: absolute;
  background-color: #61707D;
  border-radius: 10px;
  box-shadow: 0px 10px 5px #3E4850;
}

#hudimg {
  margin-left: 20px;
  margin-top: 30px;
  width: 210px;
  height: 200px;
  border-top: solid #282925 3px;
  border-left: solid #282925 2px;
  background-color: #A8CA8D;
}

#hudtext {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #A8CA8D;
  height: 200px;
  width: 210px;
  border-radius: 10px;
  border-top: solid #282925 3px;
  border-left: solid #282925 2px;
  padding-left: 5px;
  font-size: 1.5em;
}

#clues {
  width: 210px;
  height: 260px;
  background-color: #64636C;
  border-radius: 10px;
  box-shadow: 0px 10px 5px #3E4850;
  margin-left: 20px;
  margin-top: 20px;
}

#theclues {
  color: #262629;
  list-style: none;
  font-size: 1.4em;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

li {
  display: flex;
  float: left;
  margin: 5px;
  background-color: #898894;
  border-radius: 7px;
  padding: 3px;
}

#controls {
  height: 170px;
  width: 150px;
  float: left;
  left: 50px;
  bottom: 50px;
  position: absolute;
  background-color: #61707D;
  border-radius: 10px;
  box-shadow: 0px 10px 5px #3E4850;
  z-index: 20;
}

label {
  position: absolute;
  font-size: 1.5em;
  margin-left: 20px;
  margin-top: 20px;
}

select {
  position: absolute;
  margin-left: 20px;
  font-family: "munro";
  font-size: 1.5em;
  margin-top: 60px;
}

button {
  font-family: "munro";
  font-size: 1.5em;
  margin-top: 90px;
  margin-left: 12px;
  background-color: #FFE381;
  padding: 3px;
}
